<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Rescue Respiration</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <style>
    :root {
        /* Primary theme color */
        --primary-color: #A5D3FF;
        /* Primary theme text color */
        --primary-text-color: #2B2D42;
        /* Primary theme link color */
        --primary-link-color: #D7331D;

        /* Secondary color: the background body color */
        --secondary-color: #EDF2F4;
        --secondary-text-color: #2B2D42;
        /* Highlight text color of table of content */
        --toc-highlight-text-color: #2B2D42;
    }
</style>

    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">     <link href="https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/normalize.css">
    <link rel="stylesheet" href="https:&#x2F;&#x2F;felixschloesser.github.io&#x2F;rescue-respiration-website-test&#x2F;juice.css">
    
    
</head>

<body>
    

    <header class="pos-absolute" style="background-color: transparent">
        

<a href="https:&#x2F;&#x2F;felixschloesser.github.io&#x2F;rescue-respiration-website-test&#x2F;">
    <div class="logo">
        <img src="https:&#x2F;&#x2F;felixschloesser.github.io&#x2F;rescue-respiration-website-test&#x2F;lung-red.svg" alt="logo">
        Rescue Respiration
    </div>
</a>

<nav>
    
    <a class="nav-item subtitle-text" href="https:&#x2F;&#x2F;felixschloesser.github.io&#x2F;rescue-respiration-website-test&#x2F;history&#x2F;">History</a>
    
    <a class="nav-item subtitle-text" href="https:&#x2F;&#x2F;felixschloesser.github.io&#x2F;rescue-respiration-website-test&#x2F;changelog&#x2F;">Changelog</a>
    
    <a class="nav-item subtitle-text" href="https:&#x2F;&#x2F;felixschloesser.github.io&#x2F;rescue-respiration-website-test&#x2F;documentation&#x2F;">Documentation</a>
    
    <a class="nav-item subtitle-text" href="https:&#x2F;&#x2F;felixschloesser.github.io&#x2F;rescue-respiration-website-test&#x2F;imprint&#x2F;">Imprint</a>
    
    
        
        <a class="nav-item subtitle-text" href="https:&#x2F;&#x2F;github.com&#x2F;rescue-respiration&#x2F;easyBreathe">Github</a>
        
    
</nav>

    </header>

    <div class="hero">
        <script async defer src="https://buttons.github.io/buttons.js"></script>
<section class="text-center">
    <h1 class="heading-text" style="font-size: 50px">
        A Respirator for Everyone.
    </h1>
    <h3 class="title-text">
        <b>EasyBreathe</b> is a open source, afforable ventilator to help countries everywhere beat the COVID19 Pandemic.
    </h3>
    <div>
        <a class="github-button" href="https://github.com/huhu/juice" data-size="large" data-show-count="true"
           aria-label="Star huhu/juice on GitHub">Star</a>
    </div>
</section>
<img class="hero-image" style="width: 50%" src="https:&#x2F;&#x2F;felixschloesser.github.io&#x2F;rescue-respiration-website-test&#x2F;lung-red.svg">

<div class="explore-more text"
    onclick="document.getElementById('features').scrollIntoView({behavior: 'smooth'})">
    Learn More ⇩
</div>
<style>
    .hero section {
        padding: 0 5rem;
    }
    @media screen and (max-width: 768px) {
        .hero section {
            padding: 0 2rem;
        }

        .hero-image {
            display: none
        }
    }
</style>

    </div>

    

    <main>
        
        
        
        
        
        <div class="toc">
            <div class="toc-sticky">
                
                <div class="toc-item">
                    <a class="subtext" href="https://felixschloesser.github.io/rescue-respiration-website-test/#easy-breathe">Easy Breathe</a>
                </div>
                
                
                <div class="toc-item">
                    <a class="subtext" href="https://felixschloesser.github.io/rescue-respiration-website-test/#installation">Installation</a>
                </div>
                
                
                <div class="toc-item">
                    <a class="subtext" href="https://felixschloesser.github.io/rescue-respiration-website-test/#structure">Structure</a>
                </div>
                
                
                <div class="toc-item-child">
                    <a class="subtext" href="https://felixschloesser.github.io/rescue-respiration-website-test/#hero"><small>- Hero</small></a>
                </div>
                
                <div class="toc-item-child">
                    <a class="subtext" href="https://felixschloesser.github.io/rescue-respiration-website-test/#page"><small>- Page</small></a>
                </div>
                
                <div class="toc-item-child">
                    <a class="subtext" href="https://felixschloesser.github.io/rescue-respiration-website-test/#css-variables"><small>- CSS variables</small></a>
                </div>
                
                
                
                <div class="toc-item">
                    <a class="subtext" href="https://felixschloesser.github.io/rescue-respiration-website-test/#configuration">Configuration</a>
                </div>
                
                
                <div class="toc-item">
                    <a class="subtext" href="https://felixschloesser.github.io/rescue-respiration-website-test/#shortcodes">Shortcodes</a>
                </div>
                
                
                <div class="toc-item">
                    <a class="subtext" href="https://felixschloesser.github.io/rescue-respiration-website-test/#showcases">Showcases</a>
                </div>
                
                
                <div class="toc-item">
                    <a class="subtext" href="https://felixschloesser.github.io/rescue-respiration-website-test/#contributing">Contributing</a>
                </div>
                
                
            </div>
        </div>
        
        

        <div class="content text">
            
            <div id="features" class="heading-text">Overview</div>
            <h1 id="easy-breathe">Easy Breathe</h1>
<p><strong>Juice</strong> is an intuitive, elegant, and responsive Zola theme for product sites.</p>
<ul>
<li>Build for product sites</li>
<li>Simple and intuitive structure</li>
<li>Clean and elegant design</li>
<li>Responsive and mobile device compatible</li>
<li>Customize and extend friendly</li>
</ul>
<p>Here is a YouTube video:</p>
<script src="js/2ClickIframePrivacy.js"></script>
<script type="text/javascript">
    document.addEventListener('DOMContentLoaded', _2ClickIframePrivacy.init(''));
</script>

<div style="position:relative; padding-bottom:56.25%; padding-top:30px; height:0; overflow:hidden;">
    <iframe
    style="border: none; background-color: var(--toc-highlight-text-color); position:absolute; top:0; left:0; width:100%; height:100%;"
    src=""
    data-src="https://www.youtube-nocookie.com/embed/76tKJwuuFbU"
    data-2click-type="video"
    frameborder="0"
    allow="autoplay; encrypted-media"
    webkitallowfullscreen
    mozallowfullscreen
    allowfullscreen>
</iframe>
</div>



<p>
    Display content form Youtube?
    <a href="#foo" onclick="_2ClickIframePrivacy.EnableContent('video', 'privacy-video');">I Consent</a>
</p>
<h1 id="installation">Installation</h1>
<blockquote>
<p><strong>Zola</strong> is a prerequisite. Please refer to the <a href="https://www.getzola.org/documentation/getting-started/installation/">Zola installation</a> docs.</p>
</blockquote>
<p>First download this theme to your <code>themes</code> directory:</p>
<pre style="background-color:#2b303b;">
<code class="language-bash" data-lang="bash"><span style="color:#bf616a;">$</span><span style="color:#c0c5ce;"> cd themes
</span><span style="color:#bf616a;">$</span><span style="color:#c0c5ce;"> git clone https://github.com/huhu/juice.git
</span></code></pre>
<p>or add as a submodule</p>
<pre style="background-color:#2b303b;">
<code class="language-bash" data-lang="bash"><span style="color:#bf616a;">$</span><span style="color:#c0c5ce;"> git submodule add https://github.com/huhu/juice  themes/juice
</span></code></pre>
<p>and then enable it in your <code>config.toml</code>:</p>
<pre style="background-color:#2b303b;">
<code class="language-toml" data-lang="toml"><span style="color:#bf616a;">theme </span><span style="color:#c0c5ce;">= &quot;</span><span style="color:#a3be8c;">juice</span><span style="color:#c0c5ce;">&quot;
</span></code></pre><h1 id="structure">Structure</h1>
<h3 id="hero">Hero</h3>
<p><strong>Juice</strong> is designed for product websites, hence we let <strong>hero</strong> part fills whole of screen.
You can customize your <strong>hero</strong> by using <code>hero</code> block in the <code>templates/index.html</code>.</p>
<pre style="background-color:#2b303b;">
<code class="language-html" data-lang="html"><span style="color:#c0c5ce;">{% extends &quot;juice/templates/index.html&quot; %}
{% block hero %}
    &lt;</span><span style="color:#bf616a;">div</span><span style="color:#c0c5ce;">&gt;
        Your cool hero html...
    &lt;/</span><span style="color:#bf616a;">div</span><span style="color:#c0c5ce;">&gt;
{% endblock hero %}
</span></code></pre><h3 id="page">Page</h3>
<p>Every markdown file located in <code>content</code> directory will become a <strong>Page</strong>. There also will display as
a navigate link on the top-right corner.
You can change the frontmatter's <code>weight</code> value to sort the order (ascending order).</p>
<pre style="background-color:#2b303b;">
<code><span style="color:#c0c5ce;">+++
title = &quot;Changelog&quot;
description = &quot;Changelog&quot;
weight = 2
+++
</span></code></pre><h3 id="css-variables">CSS variables</h3>
<p>You can override theme variable by creating a file named <code>_variables.html</code> in your <code>templates</code> directory.</p>
<pre style="background-color:#2b303b;">
<code class="language-html" data-lang="html"><span style="color:#c0c5ce;">&lt;</span><span style="color:#bf616a;">style</span><span style="color:#c0c5ce;">&gt;
    </span><span style="color:#8fa1b3;">:</span><span style="color:#b48ead;">root </span><span style="color:#c0c5ce;">{
        </span><span style="color:#65737e;">/* Primary theme color */
        </span><span style="color:#c0c5ce;">--primary-color: </span><span style="color:#96b5b4;">#FED43F</span><span style="color:#c0c5ce;">;
        </span><span style="color:#65737e;">/* Primary theme text color */
        </span><span style="color:#c0c5ce;">--primary-text-color: </span><span style="color:#96b5b4;">#543631</span><span style="color:#c0c5ce;">;
        </span><span style="color:#65737e;">/* Primary theme link color */
        </span><span style="color:#c0c5ce;">--primary-link-color: </span><span style="color:#96b5b4;">#F9BB2D</span><span style="color:#c0c5ce;">;
        </span><span style="color:#65737e;">/* Secondary color: the background body color */
        </span><span style="color:#c0c5ce;">--secondary-color: </span><span style="color:#96b5b4;">#fcfaf6</span><span style="color:#c0c5ce;">;
        --secondary-text-color: </span><span style="color:#96b5b4;">#303030</span><span style="color:#c0c5ce;">;
        </span><span style="color:#65737e;">/* Highlight text color of table of content */
        </span><span style="color:#c0c5ce;">--toc-highlight-text-color: </span><span style="color:#96b5b4;">#d46e13</span><span style="color:#c0c5ce;">;
    }
&lt;/</span><span style="color:#bf616a;">style</span><span style="color:#c0c5ce;">&gt;
</span></code></pre><h1 id="configuration">Configuration</h1>
<p>You can customize some builtin property in <code>config.toml</code> file:</p>
<pre style="background-color:#2b303b;">
<code class="language-toml" data-lang="toml"><span style="color:#c0c5ce;">[extra]
</span><span style="color:#bf616a;">juice_logo_name </span><span style="color:#c0c5ce;">= &quot;</span><span style="color:#a3be8c;">Juice</span><span style="color:#c0c5ce;">&quot;
</span><span style="color:#bf616a;">juice_logo_path </span><span style="color:#c0c5ce;">= &quot;</span><span style="color:#a3be8c;">juice.svg</span><span style="color:#c0c5ce;">&quot;
</span><span style="color:#bf616a;">juice_extra_menu </span><span style="color:#c0c5ce;">= [
    { </span><span style="color:#bf616a;">title </span><span style="color:#c0c5ce;">= &quot;</span><span style="color:#a3be8c;">Github</span><span style="color:#c0c5ce;">&quot;, </span><span style="color:#bf616a;">link </span><span style="color:#c0c5ce;">= &quot;</span><span style="color:#a3be8c;">https://github.com/huhu/juice</span><span style="color:#c0c5ce;">&quot;}
]
</span><span style="color:#bf616a;">repository_url </span><span style="color:#c0c5ce;">= &quot;</span><span style="color:#a3be8c;">https://github.com/huhu/juice</span><span style="color:#c0c5ce;">&quot;
</span></code></pre><h1 id="shortcodes">Shortcodes</h1>
<p><strong>Juice</strong> have some builtin shortcodes available in <code>templates/shortcodes</code> directory.</p>
<ul>
<li><code>issue(id)</code> - A shortcode to render issue url, e.g. <code>issue(id=1)</code> would render to the link <code>https://github.com/huhu/juice/issue/1</code>.</li>
</ul>
<blockquote>
<p>The <code>repository_url</code> is required.</p>
</blockquote>
<h1 id="showcases">Showcases</h1>
<p>Please see the <a href="/showcases">showcases page</a>.</p>
<h1 id="contributing">Contributing</h1>
<p>Thank you very much for considering contributing to this project!</p>
<p>We appreciate any form of contribution:</p>
<ul>
<li>New issues (feature requests, bug reports, questions, ideas, ...)</li>
<li>Pull requests (documentation improvements, code improvements, new features, ...)</li>
</ul>

            
        </div>

        
        
    </main>

    
    <footer>
        <small class="subtext">
    <p>Supported by the <a href="https://www.bmz.de/en/">Ministry for Economic Cooperation and Development (BMZ) </a>of Germany<p>
    <p>Contents under CC-BY-SA 4.0</p>
</small>

    </footer>
    
</body>
<script>
    function highlightNav(heading) {
        let pathname = location.pathname;
        document.querySelectorAll(".toc a").forEach((item) => {
            item.classList.remove("active");
        });
        document.querySelector(".toc a[href$='" + pathname + "#" + heading + "']").classList.add("active");
    }

    let currentHeading = "";
    window.onscroll = function () {
        let h = document.querySelectorAll("h1,h2,h3,h4,h5,h6");
        let elementArr = [];

        h.forEach(item => {
            if (item.id !== "") {
                elementArr[item.id] = item.getBoundingClientRect().top;
            }
        });
        elementArr.sort();
        for (let key in elementArr) {
            if (!elementArr.hasOwnProperty(key)) {
                continue;
            }
            if (elementArr[key] > 0 && elementArr[key] < 300) {
                if (currentHeading !== key) {
                    highlightNav(key);
                    currentHeading = key;
                }
                break;
            }
        }
    }
</script>

</html>
